body {
  margin: 0;
}

:root {
  --dark_color: #192a51;
  --light_color: #d7bba8;
  --text_color: #e0f2fe;
  --bg1: #79addc;
  --bg2: #a7abdd;
  --report_color1: #adf7b6;
  --report_color2: #79addc;
  --light_color3: #f7ece1;
}

body {
  background-color: var(--dark_color);
  color: var(--text_color);
}

.pages {
  margin: 0 10rem;
}
